metadata
modelState
output
trainingData
inferenceData
referenceData
preprocessedData
nohup.out
*.sublime-*
.ipynb_checkpoints
*.pyc
ddsm_train/Combined_full_images/
ddsm_train/Combined_patches_im1152_224_s10/
